body {
  margin-top: 100px;
  background-color: maroon;
  -webkit-transition: 2s ease;
  -moz-transition: 2s ease;
  -ms-transition: 2s ease;
  -o-transition: 2s ease;
}
/* .jumbotron {
} */

button {
  float: right;
}
i {
  float: left;
  font-size: 35px;
  margin-right: 5px;
  color: maroon;
}

.fa-quote-left {
  font-size: 25px;
  color: black;
}

.btn.btn-default {
  height: 35px;
  background-color: maroon;
  color: white;
  -webkit-transition: 2s ease;
  -moz-transition: 2s ease;
  -ms-transition: 2s ease;
  -o-transition: 2s ease;
  border: 0;
}

button:focus {
  outline: 0 !important;
}

button:hover {
  opacity: 0.8;
}

a {
  color: white;
}

a:hover {
  text-decoration: underline;
  color: white;
}

.quote {
  font-size: 3em;
}

.icons {
  -webkit-transition: 2s ease;
  -moz-transition: 2s ease;
  -ms-transition: 2s ease;
  -o-transition: 2s ease;
}

.quote-box {
  background-color: white;
}

.buttoncalc {

  display: inline-block;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  bottom: 5%;
  left: 46%;
  padding: 9px 9px;
  border: 1px solid #2347c1;
  border-radius: 8px;
  background: #074082;
  background: -webkit-gradient(linear, left top, left bottom, from(#4285ff), to(#2347c1));
  background: -moz-linear-gradient(top, #4285ff, #2347c1);
  background: linear-gradient(to bottom, #4285ff, #2347c1);
  -webkit-box-shadow: #4fa0ff -1px 0px 0px 0px;
  -moz-box-shadow: #4fa0ff -1px 0px 0px 0px;
  box-shadow: #4fa0ff -1px 0px 0px 0px;
  text-shadow: #152a72 1px 1px 1px;
  font: normal normal bold 11px verdana;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase
  
  
}
.button:hover {
  border: 1px solid ##2953e3;
  background: #4fa0ff;
  background: -webkit-gradient(linear, left top, left bottom, from(#4fa0ff), to(#2a55e8));
  background: -moz-linear-gradient(top, #4fa0ff, #2a55e8);
  background: linear-gradient(to bottom, #4fa0ff, #2a55e8);
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase
}
.button:active {
  background: #2347c1;
  background: -webkit-gradient(linear, left top, left bottom, from(#2347c1), to(#2347c1));
  background: -moz-linear-gradient(top, #2347c1, #2347c1);
  background: linear-gradient(to bottom, #2347c1, #2347c1);
  text-transform: uppercase
}
.button:focus {
  text-transform: uppercase
}